<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_items.main_image %>
    </div>

    <div class="col-md-5">
      <%= @portfolio_items.title %>
      <hr>
      <%= @portfolio_items.subtitle %>
      <hr>
      <%= @portfolio_items.body %>
      <hr>
      <h3>Technologies Used:</h3>

      <% @portfolio_items.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

    </div>
  </div>
</div>




